In [1]:
%tensorflow_version 2.x
import json
import requests
from keras.models import Sequential
from keras.layers import Activation, Dense, Dropout, LSTM
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.metrics import mean_absolute_error
from pathlib import Path
%matplotlib inline

UsageError: Line magic function `%tensorflow_version` not found.

In [ ]:
endpoint = 'https://min-api.cryptocompare.com/data/histoday'
res = requests.get(endpoint + '?fsym=BTC&tsym=CAD&limit=500')
hist = pd.DataFrame(json.loads(res.content)['Data'])
hist = hist.set_index('time')
hist.index = pd.to_datetime(hist.index, unit='s')
target_col = 'close'

In [ ]:
hist.drop(["conversionType", "conversionSymbol"], axis = 'columns', inplace = True)

In [ ]:
hist.head(5)

In [2]:
import pandas as pd 
hist = pd.read_csv(
    'test.csv',
    index_col='Date',
    parse_dates=True, 
)

hist.head()

,Open,Close,High,Low,Volume,entry,1h%,vol_pct_chg,sma7h,sma9h,sma20h,sma200d,bb_bbm,bb_bbh,bb_bbl
Date,,,,,,,,,,,,,,,
2017-01-02 03:00:00,1011.5,1013.0,1015.0,1009.0,737.045368,0,0.001483,0.707852,1005.025714,1004.300000,991.2765,991.276500,991.2765,1020.548664,962.004336
2017-01-02 04:00:00,1014.0,1015.0,1018.0,1010.5,423.309560,0,0.001974,-0.425667,1006.511429,1006.020000,993.7535,992.406190,993.7535,1022.241744,965.265256
2017-01-02 05:00:00,1014.1,1011.4,1016.8,1008.9,235.217866,0,-0.003547,-0.444336,1007.468571,1006.842222,996.0245,993.269545,996.0245,1022.462288,969.586712
2017-01-02 06:00:00,1012.0,1016.7,1016.9,1010.4,238.331585,0,0.005240,0.013238,1009.998571,1008.186667,998.0090,994.288261,998.0090,1024.398177,971.619823
2017-01-02 07:00:00,1016.6,1018.2,1018.9,1014.1,401.187665,0,0.001475,0.683317,1012.600000,1009.686667,1000.0110,995.284583,1000.0110,1026.147094,973.874906

In [21]:
hist = hist[-200:]
hist.tail()

,Open,Close,High,Low,Volume,entry,1h%,vol_pct_chg,sma7h,sma9h,sma20h,sma200d,bb_bbm,bb_bbh,bb_bbl
Date,,,,,,,,,,,,,,,
2021-11-17 13:00:00,60514.231682,60207.000000,60639.0,60207.0,476.771475,0,-0.005077,0.422752,60046.752999,59953.696777,59872.711649,45962.100038,59872.711649,60895.619230,58849.804067
2021-11-17 14:00:00,60207.000000,59724.666301,60388.0,59724.0,824.163709,0,-0.008011,0.728635,60047.562470,59965.437477,59863.354399,45962.582677,59863.354399,60888.082370,58838.626427
2021-11-17 15:00:00,59724.000000,59708.630836,59859.0,59483.0,500.389504,0,-0.000268,-0.392852,60060.509733,59973.396459,59837.312487,45963.079267,59837.312487,60849.900546,58824.724428
2021-11-17 16:00:00,59728.000000,60418.000000,60480.0,59491.0,398.163219,0,0.011881,-0.204293,60270.509733,60051.063126,59872.362487,45963.630517,59872.362487,60913.979089,58830.745885
2021-11-17 17:00:00,60418.000000,60069.000000,60439.0,60031.0,109.235020,0,-0.005776,-0.725653,60205.366876,60101.174237,59854.290011,45964.121463,59854.290011,60868.735535,58839.844486

In [22]:
hist.head()

,Open,Close,High,Low,Volume,entry,1h%,vol_pct_chg,sma7h,sma9h,sma20h,sma200d,bb_bbm,bb_bbh,bb_bbl
Date,,,,,,,,,,,,,,,
2021-11-09 10:00:00,68177.00000,67827.0,68192.00000,67826.000000,217.555509,0,-0.005134,0.262491,68045.286743,68037.334133,67194.131161,45508.193727,67194.131161,69042.618698,65345.643623
2021-11-09 11:00:00,67826.00000,67582.0,67882.00000,67351.000000,269.784588,0,-0.003612,0.240072,67948.858172,68035.111911,67252.431161,45512.043935,67252.431161,69072.404084,65432.458237
2021-11-09 12:00:00,67582.00000,67529.0,67686.00000,67262.000000,221.758440,0,-0.000784,-0.178017,67865.428571,67936.445245,67330.981161,45516.102685,67330.981161,69053.714074,65608.248247
2021-11-09 13:00:00,67529.00000,67993.0,67993.00000,67499.881325,315.473906,0,0.006871,0.422602,67861.714286,67907.111911,67430.681161,45520.091852,67430.681161,69061.897687,65799.464634
2021-11-09 14:00:00,67992.85904,67401.0,67992.85904,67143.000000,532.618598,0,-0.008707,0.688313,67796.571429,67828.000000,67503.639188,45524.077477,67503.639188,68985.672296,66021.606079

In [23]:
target_col = hist['Close']

In [24]:
target_col

Date
2021-11-09 10:00:00    67827.000000
2021-11-09 11:00:00    67582.000000
2021-11-09 12:00:00    67529.000000
2021-11-09 13:00:00    67993.000000
2021-11-09 14:00:00    67401.000000
                           ...
2021-11-17 13:00:00    60207.000000
2021-11-17 14:00:00    59724.666301
2021-11-17 15:00:00    59708.630836
2021-11-17 16:00:00    60418.000000
2021-11-17 17:00:00    60069.000000
Name: Close, Length: 200, dtype: float64

In [25]:
def train_test_split(df, test_size=0.2):
    split_row = len(df) - int(test_size * len(df))
    train_data = df.iloc[:split_row]
    test_data = df.iloc[split_row:]
    return train_data, test_data

In [26]:
train, test = train_test_split(hist, test_size=0.2)

In [27]:
def line_plot(line1, line2, label1=None, label2=None, title='', lw=2):
    fig, ax = plt.subplots(1, figsize=(13, 7))
    ax.plot(line1, label=label1, linewidth=lw)
    ax.plot(line2, label=label2, linewidth=lw)
    ax.set_ylabel('price [CAD]', fontsize=14)
    ax.set_title(title, fontsize=16)
    ax.legend(loc='best', fontsize=16);

In [28]:
line_plot(train[target_col], test[target_col], 'training', 'test', title='')

KeyError: "None of [Float64Index([       67827.0,        67582.0,        67529.0,        67993.0,\n                     67401.0,        66836.0,        66708.0, 66813.08492452,\n                     66550.0,        66826.0,\n              ...\n                     59618.0,        58948.0,        60525.0, 60796.03931092,\n               60514.2316817,        60207.0, 59724.66630076, 59708.63083629,\n                     60418.0,        60069.0],\n             dtype='float64', length=200)] are in the [columns]"

In [29]:
def normalise_zero_base(df):
    return df / df.iloc[0] - 1

def normalise_min_max(df):
    return (df - df.min()) / (data.max() - df.min())

In [30]:
def extract_window_data(df, window_len=5, zero_base=True):
    window_data = []
    for idx in range(len(df) - window_len):
        tmp = df[idx: (idx + window_len)].copy()
        if zero_base:
            tmp = normalise_zero_base(tmp)
        window_data.append(tmp.values)
    return np.array(window_data)

In [31]:
def prepare_data(df, target_col, window_len=10, zero_base=True, test_size=0.2):
    train_data, test_data = train_test_split(df, test_size=test_size)
    X_train = extract_window_data(train_data, window_len, zero_base)
    X_test = extract_window_data(test_data, window_len, zero_base)
    y_train = train_data[target_col][window_len:].values
    y_test = test_data[target_col][window_len:].values
    if zero_base:
        y_train = y_train / train_data[target_col][:-window_len].values - 1
        y_test = y_test / test_data[target_col][:-window_len].values - 1

    return train_data, test_data, X_train, X_test, y_train, y_test

In [32]:
def build_lstm_model(input_data, output_size, neurons=100, activ_func='linear',
                     dropout=0.2, loss='mse', optimizer='adam'):
    model = Sequential()
    model.add(LSTM(neurons, input_shape=(input_data.shape[1], input_data.shape[2])))
    model.add(Dropout(dropout))
    model.add(Dense(units=output_size))
    model.add(Activation(activ_func))

    model.compile(loss=loss, optimizer=optimizer)
    return model

In [33]:
import numpy as np
np.random.seed(42)
window_len = 5
test_size = 0.2
zero_base = True
lstm_neurons = 10
epochs = 20
batch_size = 32
loss = 'mse'
dropout = 0.2
optimizer = 'adam'

In [34]:
train, test, X_train, X_test, y_train, y_test = prepare_data(
    hist, target_col, window_len=window_len, zero_base=zero_base, test_size=test_size)

KeyError: "None of [Float64Index([       67827.0,        67582.0,        67529.0,        67993.0,\n                     67401.0,        66836.0,        66708.0, 66813.08492452,\n                     66550.0,        66826.0,\n              ...\n                     59618.0,        58948.0,        60525.0, 60796.03931092,\n               60514.2316817,        60207.0, 59724.66630076, 59708.63083629,\n                     60418.0,        60069.0],\n             dtype='float64', length=200)] are in the [columns]"

In [ ]:
model = build_lstm_model(
    X_train, output_size=1, neurons=lstm_neurons, dropout=dropout, loss=loss,
    optimizer=optimizer)
history = model.fit(
    X_train, y_train, validation_data=(X_test, y_test), epochs=epochs, batch_size=batch_size, verbose=1, shuffle=True)

In [ ]:
import matplotlib.pyplot as plt
plt.plot(history.history['loss'],'r',linewidth=2, label='Train loss')
plt.plot(history.history['val_loss'], 'g',linewidth=2, label='Validation loss')
plt.title('LSTM')
plt.xlabel('Epochs')
plt.ylabel('MSE')
plt.show()

In [ ]:
targets = test[target_col][window_len:]
preds = model.predict(X_test).squeeze()
mean_absolute_error(preds, y_test)

In [ ]:
from sklearn.metrics import mean_squared_error
MAE=mean_squared_error(preds, y_test)
MAE

In [ ]:
from sklearn.metrics import r2_score
R2=r2_score(y_test, preds)
R2

In [ ]:
preds = test[target_col].values[:-window_len] * (preds + 1)
preds = pd.Series(index=targets.index, data=preds)
line_plot(targets, preds, 'actual', 'prediction', lw=3)