In [11]:
from breakout_pattern_detection import is_cosolidating, is_breaking_out
import pandas as pd
import csv
from pathlib import Path
import talib

In [7]:
BTC_df = pd.read_csv(
    Path('datasets/ohlc/BTCUSD.csv'),
    index_col='date', 
    parse_dates=True,
    infer_datetime_format=True
)

BTC_df.head()

,Unnamed: 0,exchange,open,high,low,close,volume,number_of_trades,volume_weighted_average_price
date,,,,,,,,,
2021-09-13 07:45:00,0,ERSX,44326.7,44326.7,44326.7,44326.7,1.0641,1,44326.700000
2021-09-13 07:46:00,1,ERSX,44336.6,44336.6,44336.6,44336.6,0.6217,1,44336.600000
2021-09-13 07:47:00,2,ERSX,44363.3,44394.1,44312.7,44312.7,9.2150,8,44364.987756
2021-09-13 07:48:00,3,ERSX,44318.1,44318.1,44277.8,44277.8,5.1032,4,44299.882776
2021-09-13 07:49:00,4,ERSX,44323.7,44323.7,44310.7,44310.7,2.5210,2,44317.261880

In [9]:
BTC_df.drop(columns=['Unnamed: 0'], inplace=True)
BTC_df.head()

,exchange,open,high,low,close,volume,number_of_trades,volume_weighted_average_price
date,,,,,,,,
2021-09-13 07:45:00,ERSX,44326.7,44326.7,44326.7,44326.7,1.0641,1,44326.700000
2021-09-13 07:46:00,ERSX,44336.6,44336.6,44336.6,44336.6,0.6217,1,44336.600000
2021-09-13 07:47:00,ERSX,44363.3,44394.1,44312.7,44312.7,9.2150,8,44364.987756
2021-09-13 07:48:00,ERSX,44318.1,44318.1,44277.8,44277.8,5.1032,4,44299.882776
2021-09-13 07:49:00,ERSX,44323.7,44323.7,44310.7,44310.7,2.5210,2,44317.261880

In [12]:
BTC_df['ATR'] = talib.ATR(BTC_df['high'], BTC_df['low'], BTC_df['close'], timeperiod=14)
BTC_df.head(20)

,exchange,open,high,low,close,volume,number_of_trades,volume_weighted_average_price,ATR
date,,,,,,,,,
2021-09-13 07:45:00,ERSX,44326.7,44326.7,44326.7,44326.7,1.0641,1,44326.700000,NaN
2021-09-13 07:46:00,ERSX,44336.6,44336.6,44336.6,44336.6,0.6217,1,44336.600000,NaN
2021-09-13 07:47:00,ERSX,44363.3,44394.1,44312.7,44312.7,9.2150,8,44364.987756,NaN
2021-09-13 07:48:00,ERSX,44318.1,44318.1,44277.8,44277.8,5.1032,4,44299.882776,NaN
2021-09-13 07:49:00,ERSX,44323.7,44323.7,44310.7,44310.7,2.5210,2,44317.261880,NaN
2021-09-13 07:50:00,ERSX,44260.7,44354.2,44260.7,44354.2,5.0361,4,44311.047521,NaN
2021-09-13 07:52:00,ERSX,44370.8,44390.1,44370.8,44390.1,2.5139,2,44380.450384,NaN
2021-09-13 07:53:00,ERSX,44405.7,44405.7,44405.7,44405.7,1.2559,1,44405.700000,NaN
2021-09-13 07:54:00,ERSX,44415.0,44415.0,44415.0,44415.0,1.2565,1,44415.000000,NaN
2021-09-13 07:55:00,ERSX,44451.9,44501.1,44451.9,44501.1,3.7655,3,44484.169839,NaN
2021-09-13 07:57:00,ERSX,44436.2,44436.2,44436.2,44436.2,1.2554,1,44436.200000,NaN
2021-09-13 07:58:00,ERSX,44426.4,44426.4,44426.4,44426.4,1.2568,1,44426.400000,NaN
2021-09-13 07:59:00,ERSX,44451.7,44451.7,44451.7,44451.7,1.2560,1,44451.700000,NaN
2021-09-13 08:00:00,ERSX,44481.6,44481.6,44481.6,44481.6,1.2547,1,44481.600000,NaN
2021-09-13 08:01:00,ERSX,44429.8,44429.8,44429.8,44429.8,1.2554,1,44429.800000,42.828571
2021-09-13 08:02:00,ERSX,44394.0,44549.1,44394.0,44549.1,5.6305,4,44481.237086,50.847959
2021-09-13 08:03:00,ERSX,44553.5,44553.5,44539.4,44539.4,4.3870,4,44544.578092,48.223105
2021-09-13 08:04:00,ERSX,44478.6,44478.6,44460.3,44460.3,2.5238,2,44469.650852,50.428597
2021-09-13 08:07:00,ERSX,44363.0,44363.0,44341.7,44341.7,2.5168,2,44352.418551,55.297983
2021-09-13 08:08:00,ERSX,44376.1,44376.1,44376.1,44376.1,1.2598,1,44376.100000,53.805270