In [7]:
import finnhub
import pandas as pd
import os
from dotenv import load_dotenv
import json
import datetime
from datetime import datetime, timedelta
import time

load_dotenv()
finnhub_api_key = os.getenv("FINNHUB_API_KEY")
if type(finnhub_api_key) == str:
    print('API OK')
else:
    print('API NOT OK', type(finnhub_api_key))
    print('Check your .env file for the FINNHUB_API_KEY value.')
    print('Sign-up and get an API key at https://finnhub.io/')

# Setup client
finnhub_client = finnhub.Client(api_key=finnhub_api_key)

API OK

In [28]:
# Time period of 86400 is going back 24 hours in seconds
beg_period = int(time.time()) - 86400
end_period = int(time.time())

res = pd.DataFrame(
    finnhub_client.crypto_candles("BINANCE:BTCUSDT", "1", beg_period, end_period)
)
res

            c         h         l         o   s           t         v
0    63786.27  63815.00  63778.01  63809.16  ok  1636910760  11.08678
1    63758.49  63799.87  63726.43  63786.26  ok  1636910820  12.95716
2    63736.95  63769.06  63736.93  63758.49  ok  1636910880   6.82168
3    63743.98  63772.14  63729.05  63736.94  ok  1636910940  29.61411
4    63697.43  63746.47  63693.75  63743.97  ok  1636911000  21.44421
..        ...       ...       ...       ...  ..         ...       ...
495  65833.16  65936.01  65830.67  65930.26  ok  1636940460  47.36787
496  65878.03  65887.98  65814.62  65833.16  ok  1636940520  23.85196
497  65845.30  65878.04  65822.21  65878.04  ok  1636940580   8.54381
498  65789.87  65847.17  65784.92  65845.29  ok  1636940640  19.28244
499  65781.83  65816.04  65758.49  65789.87  ok  1636940700  30.41328

[500 rows x 7 columns]