In [11]:
import pandas as pd
import yfinance as yf
import datetime as dt
from pathlib import Path

start = dt.datetime(2010,1,1)
end = dt.datetime.now()

btc = yf.download('BTC-USD', start, end)
btc_df = pd.DataFrame(btc)
btc_df.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100

In [14]:
btc_df.to_csv(Path('../Resources/BTC_data.csv'))